# Copyright (C)  2026  Emir Baha YILDIRIM
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

[user]
	name = Emir Baha Yıldırım
	email = jayshozie@gmail.com
	signingkey = 813E5F0FB80AA0D1
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[core]
	editor = nvim
    # pager = "nvim -c 'set ft=diff' -c 'set bt=nofile' -c 'set noma' -c 'set noswf' -c 'nnoremap q :q<CR>'"
	excludefile = /home/jaysh/.gitignore
# [color]
    # diff = false
[alias]
	pr = pull --rebase
    ss = status -sb
    stag = tag -s
    stash-all = stash --all
[commit]
	gpgsign = true
[tag]
    gpgSign = true
