[user]
	name = Emir Baha Yıldırım
	email = jayshozie@gmail.com
	signingkey = 813E5F0FB80AA0D1
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[core]
	editor = nvim
    # pager = "nvim -c 'set ft=diff' -c 'set bt=nofile' -c 'set noma' -c 'set noswf' -c 'nnoremap q :q<CR>'"
	excludefile = /home/jaysh/.gitignore
# [color]
    # diff = false
[alias]
	pr = pull --rebase
    ss = status -s
    stag = tag -s
    stash-all = stash --all
[commit]
	gpgsign = true
[tag]
    gpgSign = true
